@import "constants.css";

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.button {
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
}

.splash {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 0.8rem 12rem 0.8rem;
  border: 2px solid var(--border-color);
}

.body-container {
  padding: 0.5rem 12rem 0.5rem;
}

.top-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
}

.tasks-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap);
  grid-auto-flow: dense;
}

.input-container {
  grid-column: 1 / span 1;
  grid-row: 1;
}

.task-container {
  height: var(--task-height);
  width: var(--task-width);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--border-color);
}

.toast-container {
  border: 1px solid var(--white);
  height: var(--toast-height);
  width: var(--toast-width);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--toast-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto;
}

.top-icon img,
.search-icon img {
  max-width: 100%;
  max-height: 100%;
}

.top-icon {
  width: 8rem;
}

.search-icon img {
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 0.3rem;
  vertical-align: middle;
  object-fit: contain;
}

.search-input {
  border-radius: var(--border-radius);
  border: 0.5px groove var(--light-gray);
  height: var(--search-input-height);
  padding: 0.75rem 0.5rem;
  width: var(--search-input-width);
}

.task-input {
  border-radius: var(--border-radius);
  border: 3px solid var(--border-color);
  height: var(--task-input-height);
  width: 97%;
  font-size: var(--font-size-large);
  resize: none;
}

.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--inactive-button-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  font-size: var(--font-size-medium);
}

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--inactive-button-color);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  font-size: var(--font-size-medium);
}

.create-button img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.card-buttons {
  border: none;
  background: var(--background-color);
  margin-right: 0.5rem;
}

.add-button {
  color: var(--primary-color);
  margin-right: 1rem;
}

.load-more-button {
  background-color: var(--secondary-color);
  color: var(--inactive-button-color);
  border-radius: 4px;
  padding: 0.4rem 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 0.4%;
}

.filters-button {
  height: 2.4rem;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  padding: 0rem 0.7rem;
  text-align: center;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
}

.filters-button.active {
  background-color: var(--primary-color);
  color: white;
}

.task-buttons {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 0.5rem;
}

.task-title {
  margin: 0rem;
  border-radius: var(--border-radius);
  height: var(
    --task-title-height,
    5rem
  ); /* Added a default value for task-title-height */
  width: 97%;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  resize: none;
}

.done-title {
  color: var(--success-color);
  text-decoration: line-through;
}

.task-created-at {
  color: var(--light-text-color);
  padding: 0rem;
  margin: 0.5rem 0rem;
}

.task-done-at {
  background: var(--primary-color);
  color: var(--inactive-button-color);
  font-size: small;
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
  margin: 0rem;
}

.done-task-buttons {
  justify-content: space-between;
}

.centered-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.4);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
